body {
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    font-family: 'Courgette', sans-serif;
    max-height: 100%;
    max-width: 100%;
    background:#f0f0f0;
}
.page-title {
    font-family: 'Permanent Marker', sans-serif;
}